{% for book in books %}
{%set counts = getDataCounts(book)%}
<div class="libro_header clearfix cajas_libro_resumen js-book-list-entry"> 
    <div class="portada">
        <a href="{{url('bookpage',{slug:book.slug, authorslug:book.author.slug})}}">
            <img src="{{web_image('/wp-content/'~book.imageDir).resize(105,154).jpeg()}}" alt="portada de {{book.title}}" />
        </a>
    </div>

    <div class="copy meta">
        <h2> 
            <a href="{{url('bookpage',{slug:book.slug, authorslug:book.author.slug})}}">{{book.title}}</a> 
        </h2>

        <div class="stats">
            <div class="rate {{app.user ? '' : 'disabled'}}">
                 {{include('AppBundle:public:rating_stars.html.twig',{id: book.id, type: 'book',rating: showRate(book,app.user), class: null, global:false})}}
            </div>
        </div>

    </div>
    <div class="seguir meta">
        {{include('AppBundle:public:follow_buttons.html.twig',{type:'book',itemId:book.id})}}
        {%if list.user == app.user%}
        <a data-id="{{book.id}}" data-list-id="{{list.id}}" class="list-remove-button boton_rojo boton boton_med boton_block">Quitar</a>
        {%endif%}
    </div>   

    <div class="libro_meta clearfix">
        <ul class="interacciones_ee">
            <li>{{counts.reviewCount}} reseña{% if counts.reviewCount != 1 %}s{% endif %}</li>
            <li>{{counts.ratingCount}} voto{% if counts.ratingCount != 1 %}s{% endif %}</li>
            <li>{{counts.followerCount}} seguidores</li>
        </ul>
    </div>
</div>
{% endfor %}


