{%extends 'AppBundle:logged:timeline/follow_entry.html.twig'%}
{%block action%}
    <span class="accion"> Ha empezado a seguir el libro <a href="{{url('bookpage',{slug:entry.book.slug,authorslug:entry.book.author.slug})}}">{{entry.book.title}}</a></span>
{%endblock action%}

{%block content_image%}
<div class="img-holder">
    <a href="{{url('bookpage',{slug:entry.book.slug,authorslug:entry.book.author.slug})}}"><img src="{{web_image('/wp-content/'~entry.book.imageDir).cropResize(190,240).png()}}" alt="portada de {{entry.book.title}}"></a>
</div>
{%endblock content_image%}

{%block copy_content%}
    <p>
        {{entry.book.sinopsis | truncate(160)}}
    </p>
    <p>
        {{include('AppBundle:public:follow_buttons.html.twig',{type:'book',itemId:entry.book.id})}}      
    </p>
{%endblock copy_content%}
