<li class="entry clearfix libro con-icono agrupado" id="action_2">

    <div class="holder_1 lista-foto">
        {%for book in entry.list.books | slice(0,3)%} 
        <div class="portada_libro_lista p{{loop.index}}">
            <img src="{{web_image('/wp-content/'~book.imageDir).scaleResize(400,600).jpeg()}}" alt="portada de {{book.title}}">
        </div>
        {%endfor%}
    </div>
    
    <div class="cont">
        <p class="meta-info clearfix">
        <span class="cont-nombre-accion">
            <span class="nombre"><a href="{{url('list_page',{slug:entry.list.slug})}}">{{entry.list.name}}</a></span>
            <span class="accion"> ha recibido un nuevo comentario</span>
        </span>
        </p>
    
        <div class="contenido clearfix">
            <div class="img-holder">
                <img src="{{userImage(entr.createdBy)}}" alt="Profile photo of {{entry.createdBY.username}}">
            </div>
    
            <div class="copy">
                <p class="clearfix">
                <span class="cont-nombre-accion">
                    <span class="accion"> <a href="{{url('user_profile',{slug:entry.createdBy.slug})}}">{{entry.createdBy.username}}</a></span>
                </span>
                <span class="fecha">{{entry.created|date("j/n/y \\a \\l\\a\\s G:i")}}</span>
                </p>
    
                <p>    
                {{entry.comment.content}}
                </p>
            </div>
        </div>          
    </div>

</li>
