<li class="entry clearfix usuario con-icono">
    <div class="meta">
        <img src="{{userImage(entry.createdBy)}}" alt="Profile photo of {{entry.createdBy.username}}">
    </div>
    <div class="cont"> 
        <p class="meta-info clearfix"> 
            <span class="cont-nombre-accion">
                <span class="nombre"> <a href="{{url('user_profile',{slug:entry.createdBy.slug})}}">{{entry.createdBy.username}}</a> </span>
                <span class="action"> ha publicado una actualización</span>
                {%block action%}
                {%endblock action%}
            </span>
            <span class="fecha">{{entry.created|date("j/n/y \\a \\l\\a\\s G:i")}}</span> 
        </p>
        <div class="contenido clearfix">            
            <div class="copy">
                <p>
                    {{entry.status.text}}
                </p>
            </div>
        </div> 
    </div>  
</li>
