{%if books%}
<h3>Novedades</h3>
<ul>
    {%for book in books%}
    <li class="sidebar-promoted">
        <a href="{{url('bookpage',{slug:book.slug, authorslug:book.author.slug})}}" class="titulo" onclick="_gaq.push(['_trackEvent', 'Novedad', 'Sidebar', '{{book.title}}']);">
            <img src="{{web_image('/wp-content'~book.imageDir).cropResize(134,170).jpeg()}}" alt="Portada de {{book.title}}" class="sombra">
        </a>

        <a href="{{url('bookpage',{slug:book.slug, authorslug:book.author.slug})}}" class="titulo" onclick="_gaq.push(['_trackEvent', 'Navedades', 'Sidebar', '{{book.title}}']);">{{book.title}}</a>

        <span class="autor">
            <a href="{{url('authorpage',{slug:book.author.slug})}}" rel="tag">{{book.author.name}}</a>
        </span>
    </li>
    {%endfor%}
</ul>
{%endif%}
