{% extends 'AppBundle:public:common_base.html.twig' %} 

{%block seoTags%}
    <meta name="robots" content="noindex">
{%endblock%}

{%block title%}
Reseña del libro {{review.book.title}} por {{review.user.username}} - Entrelectores
{%endblock%}

{%block body%}

<div class="row_100 clearfix">
    <div class="row row_general">
        <div class="col_content contenido_general">
            {{include('AppBundle:book:book_main_data.html.twig',{book:review.book})}}

            <div class="single_resena resena_entry clearfix" id="review-{{review.id}}">
                <div class="meta">
                    <img src="{{userImage(review.user)}}" alt="Profile photo of {{review.user.username}}">
                </div>
                <div class="cont"> 
                    <p class="meta-info clearfix">
                    <a href="{{url('user_profile',{slug:review.user.slug})}}" ><span class="nombre">{{review.user.username}}</span></a>
                    <span class="fecha">{{review.created|date("F jS \\a \\l\\a\\s g:ia") }}</span>
                    </p>

                    <h4>Reseña del libro {{review.title}} por {{review.user.username}}</h4>

                    {%if review.spoiler%}

                    <div class="spoiler" id="spoiler-{{review.id}}">
                        <p>Atención! Esta reseña contiene spoilers y puede desvelar todo o parte del argumento</p>
                    </div>
                    <a rel="nofollow" title="leer reseña completa" class="boton boton_verde boton_inline boton_med leer_resena no_activo" onclick="event.preventDefault(); $(this).hide(); $('#spoiler-{{review.id}}').hide(); $('#review-content-{{review.id}}').show(300);">Leer reseña completa</a>
                    {%endif%}
                    <p class="contenido" id="review-content-{{review.id}}" style="{{review.spoiler ? 'display:none;':''}}">
                    {{review.text}} 
                    </p>

                    {%set ratings = getReviewRatings(review)%}

                    <div class="puntua_resena clearfix">    
                        <a href="#" class="th_up"> 
                            <span class="icono ion-thumbsup" data-review="{{review.id}}"> </span> 
                            <span class="cantidad">{{ratings.positive}}</span> 
                        </a>
                        <a href="#" class="th_down"> 
                            <span class="icono ion-thumbsdown" data-review="{{review.id}}"> </span> 
                            <span class="cantidad">{{ratings.negative}}</span> 
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col_sidebar">
            {{include('AppBundle:book:book_sidebar.html.twig',{book:review.book})}}
        </div>   
    </div>
</div>
{%endblock%}
