<!DOCTYPE html>
<html lang="es-ES">

<head prefix="og: http://ogp.me/ns#  book: http://ogp.me/ns/book# ">
<title>
{%block title%}
    Entrelectores - La red social de la gente que lee           
{%endblock%}
</title>

{% block metas %}
    <meta name="description" content="Podrás descubrir nuevas lecturas, recibir recomendaciones de libros y conocer lectores afines a ti. También conversar con autores y listas de libros."/>
{% endblock %}

{%block seoTags%}
{%endblock%}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta property="og:locale" content="es_ES" />
<meta property="og:site_name" content="entrelectores.com" />

<link rel="stylesheet" href="{{asset('/bundles/app/css/style.css')}}" />

<link rel="stylesheet" href="{{asset('/bundles/app/css/style-nuevos.css')}}" />

{% stylesheets 
    'bundles/app/css/ionicons.min.css'
    'bundles/app/css/1100.css'
    'bundles/app/css/950.css'
    'bundles/app/css/800.css'
    'bundles/app/css/610.css'
    'bundles/app/css/300.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<link rel="icon" href="{{asset('/wp-content/themes/entrelectores3/assets/img/favicon.png')}}" type="image/x-icon" />



<link href='https://fonts.googleapis.com/css?family=Cantarell:400italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" async="" src="https://www.google-analytics.com/ga.js"></script>
	
</head>

<body>
    
    {{render_esi(controller('AppBundle:PublicSite/Home:commonHeader'))}}

    {%block body%}
    
    {%endblock%}
    
    {%block footer%}
        {{render_esi(url('homefooter'))}}
    {%endblock%}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12470142-1']);
        _gaq.push(['_gat._forceSSL']);
        {%block analytics_push%}
            _gaq.push(['_trackPageview']);
        {%endblock%}
        (function () {
         var ga = document.createElement('script');
         ga.type = 'text/javascript';
         ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(ga, s);
         })();

    </script>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : "{{getAppParameter('facebook_app_id')}}",                        // App ID from the app dashboard
            channelUrl : "//{{getAppParameter('app_domain')}}/channel.html",      // Channel file for x-domain comms
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_ES/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function fb_login() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                document.location = "{{url('hwi_oauth_service_redirect', {service: 'facebook'})}}";
            } else {
                // not_authorized
                FB.login(function(response) {
                    if (response.authResponse) {
                    document.location = "{{url('hwi_oauth_service_redirect', {service: 'facebook'})}}";
                    } else {
                        document.location = "{{url('homepage')}}";
                    }
                }, {scope: 'email'});
            }
        });
    }


</script>

{%block end_javascript%}



    <script src="{{asset('/bundles/app/js/jquery-2.1.3.min.js')}}"></script>
    <script type="text/javascript" src=" {{asset('/bundles/app/js/jquery.cookies.js')}} "></script>
    <script type="text/javascript" src=" {{asset('/bundles/app/js/jquery.scrollto.js')}} "></script>
    <script type="text/javascript" src=" {{asset('/bundles/app/js/custom.js')}} "></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    {% if app.environment == 'prod' %}
        <script src="/js/fos_js_routes.js"></script>
        {% javascripts  
            '@AppBundle/Resources/public/js/es6-promise-2.0.1.min.js'
            '@AppBundle/Resources/public/js/underscore-min.js'
            '@AppBundle/Resources/public/js/el_app.js'
            '@AppBundle/Resources/public/js/lists.js' 
            '@AppBundle/Resources/public/js/book.js' 
            '@AppBundle/Resources/public/js/comments.js'
            '@AppBundle/Resources/public/js/messages.js'
            '@AppBundle/Resources/public/js/follow.js'
            '@AppBundle/Resources/public/js/user.js'
            '@AppBundle/Resources/public/js/banners.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}

        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{asset('/bundles/app/js/underscore-min.js')}}"></script>
        <script src="{{asset('/bundles/app/js/es6-promise-2.0.1.min.js')}}"></script>
        <script src="{{asset('/bundles/app/js/el_app.js')}}"></script>
        <script src="{{asset('/bundles/app/js/lists.js')}}"></script>
        <script src="{{asset('/bundles/app/js/book.js')}}"></script>
        <script src="{{asset('/bundles/app/js/comments.js')}}"></script>
        <script src="{{asset('/bundles/app/js/messages.js')}}"></script>
        <script src="{{asset('/bundles/app/js/follow.js')}}"></script>
        <script src="{{asset('/bundles/app/js/user.js')}}"></script>
        <script src="{{asset('/bundles/app/js/banners.js')}}"></script>
    {%endif %}


    <script type="text/javascript">
    window.onload = function() {

        var cookie_acp = jQuery.cookie("acepta_cookies");
        if (!cookie_acp) { jQuery("#cookie-msg").slideDown(); } };

    function aceptar_cookies() { 
        jQuery.cookie("acepta_cookies", true, { expires: 7, path: '/' } ); 
        jQuery("#cookie-msg").slideUp(); 
        jQuery.cookie("acepta_cookies", true, { expires: 7, path: '/' } ); 
        jQuery("#cookie-msg").slideUp(); 
    };
</script>
{%endblock%}
</body>

</html>
