{% extends 'AppBundle:public:common_base.html.twig' %} 
{%block body%}
<div class="row_100 clearfix">
    <div class="row">
        <div class="col_content">
                
            <div class="listado_libros lista-listas-publicas clearfix contenido_general">
                
                <h1>Tus Reseñas</h1>
                
                <div class="resenas resenas-container bordered clearfix">
                
                {%for review in reviews%}
                
                <div class="single_resena mis-resenas resena_entry clearfix" id="review-{{review.id}}">
                    
                    <div class="meta">
                        <img src="{{web_image('/wp-content/'~review.book.imageDir).resize(105,154).jpeg()}}" alt="portada de {{review.book.title}}" />
                    </div>
                    
                    <div class="cont"> 
                
                        <p class="meta-info clearfix">
                            <a href="{{url('bookpage',{slug:review.book.slug, authorslug:review.book.author.slug})}}">
                                <span class="nombre">{{review.book.title}}</span>
                            </a>
                            <span class="fecha">{{review.created|date("j/n/y \\a \\l\\a\\s G:i") }}</span>
                        </p>
                
                        <h4><a href="{{url('single_review',{bookSlug:review.book.slug,id:review.id})}}">{{review.title}}</a></h4>
                        
                        {%if review.spoiler%}
                
                            <div class="spoiler" id="spoiler-{{review.id}}">
                                <p>Atención! Esta reseña contiene spoilers y puede desvelar todo o parte del argumento</p>
                            </div>
                            
                            <a rel="nofollow" title="leer reseña completa" class="boton boton_verde boton_inline boton_med leer_resena no_activo" onclick="event.preventDefault(); $(this).hide(); $('#spoiler-{{review.id}}').hide(); $('#review-content-{{review.id}}').show(300);">Leer reseña completa</a>
                        {%endif%}
                
                        <p class="contenido" id="review-content-{{review.id}}" style="{{review.spoiler ? 'display:none;':''}}">
                            {{review.text}} 
                        </p>
                        
                        {%set ratings = getReviewRatings(review)%}
                
                            <div class="puntua_resena clearfix">    
                                <a href="#" class="th_up"> 
                                    <span class="icono ion-thumbsup" data-review="{{review.id}}"> </span> 
                                    <span class="cantidad">{{ratings.positive}}</span> 
                                </a>
                                <a href="#" class="th_down"> 
                                    <span class="icono ion-thumbsdown" data-review="{{review.id}}"> </span> 
                                    <span class="cantidad">{{ratings.negative}}</span> 
                                </a>
                            </div>
                        </div>
                    </div>
                
                {%endfor%}
                
                </div>

            </div>
        </div>
        <div class="col_sidebar">
            {{include('AppBundle:list:list_sidebar.html.twig')}}
        </div>
    </div>
</div>
{%endblock%} 
